
body {
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 5vw;
    color: #7a7a7a;
    font-weight: 300;
    padding-top: 1.5%;
}

.nav{
    list-style:none;
    padding:0;
    text-align:center;
    padding-bottom: 2%;
}


p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color:#a8a8a8;
    text-align: left;
    display: inline-block;
}

.paragraphlist {
    margin-top: -1.5%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color:#a8a8a8;
    text-align: left;
    display: inline-block;
}

.update {
    padding-top: 0%;
    margin-top: 0%;
    margin-bottom: 0.2%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color:#a8a8a8;
    text-align: left;
}

.borderdiv {
    border-radius: 20px;
    border: 2px solid #a8a8a8;
    padding: 5px;
    margin-bottom: 10px;
    margin: 0 auto;
}

strong {
    font-weight: 600;
}

ion-icon {
    text-align: left;
    font-size: 4vh;
    margin-right:10px;
}
.banner {
    border-radius: 20px;
    border: 2px solid #a8a8a8;
    padding: 5px;
    margin-bottom: 10px;
}

.teaser {
    position:absolute;
    bottom:0;
    width:100%;
    padding-bottom: 7%;
}

.icons {
    
}

@media only screen and (min-width: 1100px) {

      
    h1 {
        font-size: 5vw;
    }
    
    .nav{
        margin-top: -3%;
        font-size: 1.2vw;
    }

    p {
        width: 22vw;
    }

    .paragraphlist {
        width: 19vw;
    }

    .banner {
        width: 22vw;
    }

    .borderdiv {
        width: 22vw;
    }

    .teaserimg{
        width: 400px;
    }

  }

@media only screen and (max-width: 1100px) {
 
    h1 {
        font-size: 10vw;
    }
    
    .nav{
        margin-top:-7%;
        font-size: 4vw;
    }

    p {
        width: 60vw;
    }

    .paragraphlist {
        width: 50vw;
    }

    .banner {
        width: 60vw;
    }

    .borderdiv {
        width: 60vw;
    }

    .teaserimg{
        width: 60vw;
    }
}

.title  {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
}

  
@keyframes caret {
    50% {
        border-color: transparent;
    }
}


.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
        color:#a8a8a8;
    text-decoration:none;
}

.icons { 
    color:#a8a8a8;
    text-decoration:none;
}

.nav a:hover, a:focus {
    text-decoration:underline;
}